body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;;
  background-color: rgb(255, 255, 255);
  color: rgb(38, 38, 38);
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.logo {
  font-size: 40px;
}

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(237, 238, 238);
  padding: 0px;
}

.user {
  padding: 20px;
}

.description {
  margin: 20px;
}

.username {
  text-align: left;
}

.avatar {
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.image {
  margin: 0 auto;
  width: 100%;
}

.likes {
  padding-bottom: 20px;
  margin-left: 10px;
  float: left;
}

.count {
  padding-left: 20px;
}

.btn {
  width: 60px;
}

.submitComment {
  width: 80px;
}

.commentsForm {
  padding: 20px;
}

.delete-icon {
  font-size: 40px;
  color: rgb(179, 179, 179);
}
